/terraform.tfstate.1762366852.backup
/terraform.tfstate.1762366864.backup
/terraform.tfstate.1762366975.backup
/terraform.tfstate.1762367171.backup
/terraform.tfstate.1762367180.backup
/test.mp4
/test.txt
node_modules
# Terraform directories
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfstate.backup
.terraform.lock.hcl
